/*!
 * Mapping Lowell, Custom Exhibit Theme
 * author: Katherine Donnally
 */
#static-bubble {
  overflow-y: auto;
  position: absolute;
  background: #fff;
  border-radius: 2px;
  color: #000;
  padding: 1em;
  max-height: 90%;
  max-width: 400px;
  left: 70px;
  top: 20px;
  opacity: 0.85; }
  #static-bubble .close {
    display: none;
    cursor: pointer;
    font-weight: 400;
    margin-left: .4em;
    float: right; }
  #static-bubble .title {
    display: inline;
    font-size: 2em;
    line-height: 1em; }
  #static-bubble .content {
    display: none;
    margin-top: 0.7em; }
  #static-bubble.selected {
    opacity: 0.9; }
    #static-bubble.selected .close, #static-bubble.selected .content {
      display: block; }
  #static-bubble img {
    max-width: 100%; }

#neatline #static-bubble {
  z-index: 1000;
  display: none; }
  #neatline #static-bubble.bound {
    display: block; }

a.nl-fullscreen {
  display: inline-block;
  margin-bottom: 1em; }

#neatline.Waypoints.Simile .olControlLayerSwitcher {
  right: 25%; }
#neatline.Waypoints.Simile #waypoints {
  top: 0;
  right: 0;
  height: 100%;
  max-height: 100%;
  width: 25%;
  max-width: 25%; }
#neatline.Waypoints.Simile #simile {
  bottom: 0;
  left: 0;
  height: 20%;
  width: 75%; }

#neatline-map {
  position: relative;
  height: 800px; }

#neatline .widget {
  opacity: .9;
  position: absolute;
  z-index: 999; }

/*!
 * Custom Neatline theme for Following the Money
 * NB: in no real order since still deciphering elements.
 */
.neatline #content {
  padding: 0 4.167%; }
  @media screen and (min-width: 600px) {
    .neatline #content {
      padding: 0 8.33%; } }

#neatline-narrative {
  padding-right: 0;
  margin: 0; }
