/**
 * Custom Neatline theme for Following the Money
 */

/* General Styles: */

// colors
$themeblue: hsla(181,100%,90%,1);

.neatline {
	#content {
		padding: 0 4.167%;
		@media screen and (min-width: 600px) {
			padding: 0 8.33%;
		}
	}
}

/* Title: */

.exhibit__narrative {
	h3 {
		border-bottom: 2px solid $themeblue;
	}
	h3 > * {
		margin-top: 1.5em;
		margin-bottom: .5em;
		padding-bottom: .5em;
		font-size: 1rem;
		font-weight: 400;
		font-family: "Playfair Display", serif;
		line-height: 1 !important;
		
		@media screen and (min-width: 600px) {
			font-size: 1.5rem;
		}
		@media screen and (min-width: 768px) {
			font-size: 1.75rem;
		}
		@media screen and (min-width: 1024px) {
			font-size: 2rem;
		}	
	}
	
}

/* Fullscreen link: */

a.nl-fullscreen {
    display: inline-block;
    margin-bottom: 1em;
}

/* Python-generated CSS classes: */

.exhibit-wrapper {

}

.exhibit-landing {

}

.exhibit-landing__title {

}

.exhibit-main-content {

}

.exhibit__map {

}

.exhibit__narrative {

}