/**
 * 					Home - Table of Contents
 * --------------------------------------------------------------------
 * #  Section:			Description:
 * --------------------------------------------------------------------
 * 1. General styles....Universal styles, repeating elements
 * 2. Landing page......Styles for title page
 * 3. Main content......Styles for content sections, e.g. 'About'
 * --------------------------------------------------------------------
 */

/* General Styles: */

/* Landing Page: */

.home-landing-grid {
	position: relative;
	display: grid;
	grid-template-areas: "title"
						 "subtitle";
	height: 100vh;
	width: 100%;
	padding-left: 4.167%;
	padding-right: 4.167%;
	background-image: linear-gradient(hsla(195,100%,76%,.7), hsla(195,100%,76%,.7)), url("../img/theme-files/map-of-lowell-1841.jpg"); // url("../img/theme-files/classy-fabric.png");
	background-size: auto, 120vw;
	@media screen and (min-width: 600px) {
		padding-left: 8.33%;
	}
}

.home-landing__page-title {
	grid-area: title;
	position: relative;
	display: grid;
	align-items: end;
	justify-content: start;
}

.home-title__text {
	margin-bottom: .5em;
	font-family: "Playfair Display", serif;
	font-size: 3rem;
	font-weight: 700;
	color: black; // hsla(181,97%,86%,1);
//	color: hsla(260,7%,16%,1);
	span {
		background-color: hsla(181,100%,90%,1);
		line-height: 1.2 !important;
	}
	@media screen and (min-width: 600px) {
		font-size: 4rem;
	}
	@media screen and (min-width: 768px) {
		font-size: 5rem;
	}
	@media screen and (min-width: 1024px) {
	//	font-size: 6rem;
	}
	@media screen and (min-width: 1200px) {
	//	font-size: 5.5rem;
	}
}

.home-landing__subtitle {
	grid-area: subtitle;
	padding-top: 1em;
	font-size: 1rem;
	font-style: italic;
//	font-family: "Oswald", sans-serif;
	font-family: "Taviraj", serif;
	line-height: 1.2 !important;
	color: black; //hsla(260,7%,16%,1);
	span {
		background-color: hsla(181,100%,90%,1); //rgba(255,255,255,.7);
//		line-height: 1.2;
	}
	@media screen and (min-width: 600px) {
		font-size: 1.25rem;
	}
	@media screen and (min-width: 768px) {
		font-size: 2rem;
	}
}

/* Main Content: */

.home-main-content {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "about"
	"exhibit"
	"bg"
	"context"
	"teaching";
	padding: 0 4.167%;
	@media screen and (min-width: 600px) {
		padding: 0 8.33%;
	}
	@media screen and (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "about exhibit"
		"bg bg"
		"context teaching";
	}
}

/* About: */

.home__about {
	grid-area: about;
	@media screen and (min-width: 768px) {
		padding-right: 8.33%;
	}
}

.home-about__title {

}

.home-about__text {

}

/* Exhibits: */

.home__exhibits {
	grid-area: exhibit;
	@media screen and (min-width: 768px) {
		padding-left: 8.33%;
	}
}

.home-exhibit__title {

}

.home-exhibit__text {

}

/* Historical Background: */

.home__background {
	grid-area: bg;
}

.home-bg__title {

}

.home-bg__text {

}

/* Modern Context: */

.home__context {
	grid-area: context;
	@media screen and (min-width: 768px) {
		padding-right: 8.33%;
	}
}

.home-context__title {

}

.home-context__text {

}

/* Teaching: */

.home__teaching {
	grid-area: teaching;
	@media screen and (min-width: 768px) {
		padding-left: 8.33%;
	}
}

.home-teaching__title {

}

.home-teaching__text {

}