/* Navbar: */

$teal: hsla(181,100%,90%,1);

.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3rem;
	width: 100%;
	background-color: $teal;
	z-index: 5;
}

.navbar__home-icon {
	position: relative;
	height: 3rem;
	width: 3rem;
	margin-left: calc(70px - 3rem); // match neatline display
	a {
		display: inline-block;
		height: 100%;
		width: 100%;
		padding: .5rem;
		-moz-transition: padding .3s;
		-webkit-transition: padding .3s;
		transition: padding .3s;
		img {
			display: inline-block;
		}
		&:hover, &:focus {
			padding: .3rem;
		}
	}
}

.navbar__links {
	padding-right: 70px;
	ul {
		position: relative;
		display: flex;
		height: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			display: inline-block;
			height: 100%;
			margin-right: 1rem;
			&:last-of-type {
				margin-right: 0;
			}
			a {
				display: inline-block;
				height: 100%;
				padding-bottom: .25rem;
			//	font-family: "Playfair Display", serif;
			//	font-weight: bold;
				line-height: 1;
				color: black;
			//	border-bottom: 1px solid black;
				-moz-transition: color .3s, border-bottom-color .3s;
				-webkit-transition: color .3s, border-bottom-color .3s;
				transition: color .3s, border-bottom-color .3s;
				&:hover, &:focus {
					color: #e3b505;
					border-bottom-color: #e3b505;
				}
			}
		}
	}
}